p {
    background-color: red;
    margin: 0;
}

.introduction{
    border: 5px solid yellowgreen;
    color: rgb(43, 16, 16);
    text-align: right;
    font-size: 3rem;
}

.mainPart{
    font-size: 14px;
    font-weight: bold;
    color: red;
    text-align: right;
}

.ending{
    background-color: lightblue;
    padding-top: 40px;
    text-align: right;
}
